header{
    width: 70%;
    height: 50px;
    color: rgb(235, 16, 16);
    background-color: skyblue;
    
}
#div1{
    width:40%;
    background-color: rgb(106, 149, 241);

}
#div2{
    width: 40%;
    background-color: rgb(25, 215, 240);
    border: 2px solid #e81607;
}
#mh2{
    text-align: center;
    text-decoration: underline;
    color: white;
}
.mid{
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#div3{
    width: 40%;
    background-color: rgb(41, 36, 36);
}
#mh22{
    color: yellow;

}