h1{
    color:#112bd6;
    text-align: center;

}
#first{
    float: left;
    width: 500px;
    height: 300px;
    background-color: aqua;
}
#second{
    width: 500px;
    height: 300px;
    background-color: blue;
    float: left;
}